.container, .booking, .delivery_order{
    display:flex;
    justify-content: space-around;
}
.container_details, .booking_details, .delivery_order_details{
    display: flex;
    flex-direction: column;
}


.vertical-line {
    border-left: 2px solid #d1d0d0;
    margin: 0px 10px 10px 2px;
}

.move_out_tree .table-responsive .o_list_table thead tr:nth-child(1) th:nth-child(7)::after {
            content: "Actions";
            display: inline-block;
            position: relative;
            top: -9px;
        }

 .o_form_image img {
    display: block;
    margin: 0 auto;
    width : auto;
}

.o_form_button_view {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between buttons */
    margin-top: 20px; /* Space between image and buttons */
}

.o_button {
    background: #ffffff;
    border: 2px solid #69696930;
}

.seal_view_history .table-responsive .o_list_table thead tr:nth-child(1) th:nth-child(7)::after {
    content: "Actions";
    display: inline-block;
    position: relative;
    top: -9px;
}