.view_edi_tree .table-responsive .o_list_table thead tr:nth-child(1) th:nth-child(6)::after {
    content: "Actions"; /* Add multiple spaces */
    display: inline-block;
    position: relative;
    padding-bottom: 8px
}